body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: rgb(223, 221, 211); /* Light background for better contrast */
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100%;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
}

.main-nav ul li a {
  display: block;
  color: #3289a8; /* Blue color for better contrast */
  text-decoration: none;
  font-size: 1.25rem;
}

.main-nav ul li a:focus,
.main-nav ul li a:hover {
  background-color: #232f96; /* Darker blue background on focus/hover */
  color: white;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  border: 1px solid #9193a3;
}

form input:focus,
form textarea:focus {
  border-color: #4aa0b5;
  outline: 0;
  box-shadow: 0 0 0 0.3rem rgba(26, 126, 233, 0.25);

}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: #2173cb;
  border: none;
  padding: 1rem;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

form button:hover,
form button:focus {
  background: #07478b;
  outline: none;
}

.site-footer {
  padding: 2rem 0;
  text-align: center;
  background-color: #343a40;
  color: white;
}

.skip-link{
  text-decoration: none;
  color: black;
  text-align: right;
  margin: .5rem;
}

.skip-link:hover{
  color: black;
}